<header style="background-color: #C50935; height: 5vh; padding-top: 0.5vh;">
    <div align="right" style="height: 100%;">
        <table style="color: #000; background: #FFFFFF; height: 90%;">
                <td><img src="/assets/token_logo.png" style="height: 2vh; margin:0;"></td>
                <td id="token data-user-token="<%= @user.token%>">0</td>
        </table>
    </div>
</header>