<header style="background-color: #C50935; height: 4vh;">
    <div align="right">
        <table style="color: #FFFFFF;">
                <td><img src="/assets/token_logo.png" style="height: 3vh; margin:0.5vh 0"></td>
                <td id="token" data-user-token="<%= @user.token%>">0</td>
        </table>
    </div>
</header>