<header style="background-color: #C50935; height: 4vh;">
    <div align="right">
        <table style="color: #FFFFFF;">
                <td>トークン</td>
                <td id="token">0</td>
        </table>
    </div>
</header>