<header style="background-color: #FF67B3; height: 4vh;">
    <div align="right">
        <table style="color: #FFFFFF;">
                <td>トークン</td>
                <td>100</td>
        </table>
    </div>
</header>