<style>
    body {
        background-image: url(./assets/login_background.png);
    }

    .conteinar {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 96vh;
    }

    button {
        justify-content: center;
        height: 10vh;
        margin: 60vh 20vw 30vh 20vw;
    }
</style>

<h1>いい感じのテキスト</h1>

<div class="container">
    <%= link_to first_gacha_path do %>
        <button>メルカリと連携する</button>
    <% end %>
</div>