<style>
    .left-right {
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
    .left {
        margin: 8px;
        padding: 8px;
        text-align: center;
        background-color: #C50935;
        color: white;
    }
    .right {
        margin: 8px;
        padding: 8px;
        text-align: center;
    }
    .right img {
        height: 90%;
        width: auto;
    }
    button {
        border-radius: 13px;
        height: 53px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .item {
        width: calc(33.33vw - 5vw); /* 3つの要素を横並びにするための幅。マージン等の余白も考慮して調整する */
        margin: 2.5vw;
        text-align: center;
    }

    .item img {
        width: 100%;
        height: calc(33vw * 1.5);
    }
</style>

<%= render 'templates/header' %>

<div class="left-right">
    <button class="left">五十音順</button>
    <button class="right">
        <%= image_tag("camera.png", size: "60x60") %>
    </button>
</div>

<div class="container">
    <% @nfts.each do |nft| %>
        <div class="item">
            <%= link_to nft_path(nft) do %>
                <div class="card">
                    <%= image_tag nft.front_image, :size => "200x300" %>
                </div>
            <% end %>
        </div>
    <% end %>
</div>
