<%= render 'templates/header' %>

<button>五十音順</button>
<button>カメラ</button>

<%= @nfts.each do |nft| %>
    <%= link_to nft_path(nft) do %>
        <div class="card">
            <%= image_tag nft.nft_image, :size => "320x480" %>
        </div>
    <% end %>
<% end %>