<%= render 'templates/header' %>
<%# <%= image_tag(@nft.front_image, size: "600x600", autoplay: true, muted: true ) %>
<%= video_tag("mercari.mp4", size: "600x600", autoplay: true, muted: true, playsInline: true) %>
<%= link_to root_path do %>
    <button>Home</button>
<% end%>