<h1>NFT 詳細ページ</h1>
<%# <%= image_tag(@nft.nft_image, size: "600x600", autoplay: true, muted: true ) %> %>
<%= video_tag("mercari.mp4", size: "600x600", autoplay: true, muted: true, playsInline: true) %>
<p><%= @nft.name %></p>
<%= link_to root_path do %>
    <button>Home</button>
<% end%>