<h1>ユニフォーム人気投票</h1>
<% @votes.each do |vote|%>
    <%= image_tag vote.image %>
    <%= form_with(model: vote, url: votes_path, method: :post, local: true) do |f| %>
        <%= f.submit "投票する", class: "vote-button" %>
    <% end %>
<% end %>